.root {
  display: flex;
}

.tray {
  align-self: start;
  grid-area: tray;
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;
}

.game {
  grid-area: game;
  padding: 2rem 0;
  position: relative;
  z-index: 0;
}

.nav {
  align-self: start;
  grid-area: nav;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 1;
}

.score {
  align-self: start;
  grid-area: score;
  height: 100vh;
  position: sticky;
  top: 0;
}
