.root {
  background-color: var(--white);
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: inset -2px 0 10px var(--shadow-25);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: absolute;
  transition: left 0.2s;
  left: 6rem;
  top: 8rem;

  &.active {
    left: 0;
  }

  * + * {
    margin-top: 1rem;
  }
}
