.root {
  backface-visibility: hidden;
  background-color: var(--white);
  bottom: 0;
  box-shadow: inset -2px 0 10px var(--shadow-25), 2px 0 20px var(--shadow-50);
  padding: 1rem;
  position: fixed;
  transition: bottom 0.2s;
  width: 100%;
  z-index: 1;

  .container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 50rem;
    position: relative;
    width: 100%;
  }

  &.active {
    bottom: 7rem;
  }
}
