.root {
  align-items: center;

  display: flex;
  padding: 1rem;
  height: 7rem;

  > * + * {
    margin-left: 1rem;
  }

  &.guessed {
    background-color: var(--shadow-25);
  }

  &.win {
    background-color: var(--hilite-green);
  }
}

.keyContainer {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 5rem;

  .r,
  .w,
  .n {
    align-items: center;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    position: relative;
    width: 2.5rem;

    &::after {
      content: '';
      border-radius: 50%;
      display: block;
      height: 2rem;
      width: 2rem;
    }
  }
  .r,
  .w {
    &::after {
      box-shadow: inset -2px -2px 2px var(--shadow-50),
        2px 2px 2px var(--shadow-25);
    }
  }
  .r::after {
    background-color: var(--red);
  }
  .w::after {
    background-color: var(--white);
  }
  .n::after {
    background-color: transparent;
    box-shadow: inset 2px 2px 2px var(--shadow-25);
  }
}
