.root {
  background-color: lightblue;
  border-radius: 2rem;
  padding: 1rem 2rem;
  box-shadow: inset -2px -2px 5px rgba(9, 4, 80, 0.5),
    2px 2px 2px rgba(0, 0, 0, 0.25);

  &.primary {
    background-color: cornflowerblue;
    color: var(--white);
  }
  &.green {
    background-color: forestgreen;
    color: var(--white);
  }
  &.error {
    background-color: indianred;
    color: var(--white);
  }
}
