.root {
  background-color: var(--button-default);
  border-radius: 2rem;
  padding: 1rem 2rem;
  box-shadow: inset -2px -2px 5px var(--shadow-50), 2px 2px 2px var(--shadow-25);

  &.primary {
    background-color: var(--button-blue);
    color: var(--white);
  }
  &.green {
    background-color: var(--button-green);
    color: var(--white);
  }
  &.error {
    background-color: var(--button-red);
    color: var(--white);
  }
}
