.root {
  background-color: var(--white);
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;

  @media (min-width: $breakpoint-max) {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

.guess,
.row {
  align-items: center;
  display: flex;
  height: 8rem;
  padding: 1rem;

  > * + * {
    margin-left: 1rem;
  }
}

@keyframes hilite {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--hilite);
  }
}

@keyframes last {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--hilite-red);
  }
}

.guess {
  background-color: var(--hilite);
  transition: background-color 0.2s;
}

.blink {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: hilite;
}

.lastGuess {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: last;
  background-color: var(--hilite-red);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.pegRow {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;

  > * + * {
    margin-left: 1rem;
  }
}

.keyContainer {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
  width: 6rem;

  .n {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: center;
    position: relative;
    width: 3rem;

    &::after {
      background-color: transparent;
      border-radius: 50%;
      box-shadow: inset 2px 2px 2px var(--shadow-25);
      content: '';
      display: block;
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}
