$colors: a, b, c, d, e, f, x;

.root {
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 50%;
  box-shadow: inset 5px 5px 5px var(--shadow-25);
  display: flex;
  flex-shrink: 0;
  font-size: 2rem;
  height: 5rem;
  justify-content: center;
  transition: background-color 0.2s;
  width: 5rem;

  @each $color in $colors {
    &.#{$color} {
      background-color: var(--color-#{$color});
      box-shadow: inset -3px -3px 5px var(--shadow-50),
        2px 2px 2px var(--shadow-25);
    }
  }

  &.a {
    margin-top: 0;
  }

  &.active {
    border: solid 2px var(--hilite-purple);
  }

  &.link {
    cursor: pointer;
  }

  &.current {
    &:hover {
      background-color: var(--hilite-purple);
    }
  }
}

.stop {
  transform: none !important;
}

.over {
  background-color: var(--hilite-purple);
  border: solid 2px var(--hilite-purple);
}
