:root {
  --white: #f0e7e7;
  --red: red;
  --light-gray: #eeeeee;
  --dark-gray: #333333;
  --darker-gray: #111111;
  --text-color: var(--dark-gray);

  --color-a: lightsalmon;
  --color-b: lightseagreen;
  --color-c: palevioletred;
  --color-d: greenyellow;
  --color-e: goldenrod;
  --color-f: gray;
  --color-x: var(--darker-gray);

  --hilite: hotpink;
  --hilite-red: var(--red);
  --hilite-green: lightgreen;
  --hilite-purple: rebeccapurple;

  --button-default: lightblue;
  --button-blue: cornflowerblue;
  --button-green: forestgreen;
  --button-red: indianred;

  --shadow-25: rgba(0, 0, 0, 0.25);
  --shadow-50: rgba(0, 0, 0, 0.5);

  --base-font-size: 8px;
  --font-main: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
button {
  background-color: transparent;
  border-width: 0;
  color: inherit;
  cursor: pointer;
  padding: 0;
}
figure {
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
ul,
ol,
dd {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
p {
  margin: 0;
}
html {
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: var(--base-font-size);
}
body {
  background-color: var(--darker-gray);
}
