.root {
  background: var(--white);
  font-size: 2rem;
  max-height: 100vh;
  padding: 1rem;

  @media (min-width: $breakpoint-max) {
    border-radius: 1rem;
  }

  th {
    background-color: var(--shadow-25);
    padding: 0 8px;
    text-align: center;
  }
}
